{{#if (or button.buttons button.isSection)}}
    <div class="boobastudio-radial-group {{ifThen button.isSection 'boobastudio-radial-group--editable' 'boobastudio-radial-group--locked'}}" data-button="{{button.id}}">
        <div class="boobastudio-radial-group-header">
            {{#if button.editable}}
            <div class="boobastudio-radial-group-controls">
                <div class="boobastudio-radial-group-input">
                    {{#if button.img}}
                    <img src="{{button.img}}" class="boobastudio-radial-group-thumb" alt="" />
                    {{else}}
                    <div class="boobastudio-radial-group-icon-placeholder">
                        <i class="fas fa-folder"></i>
                    </div>
                    {{/if}}
                    <input type="text" name="content_{{button.id}}" class="sectionchange boobastudio-input" value="{{button.content}}" placeholder="{{localize 'boobastudio.radialMenu.placeholderContent'}}" />
                </div>
                <div class="boobastudio-radial-group-actions">
                    <button type="button" name="img_{{button.id}}" data-tooltip="{{localize 'boobastudio.radialMenu.editImage'}}" class="boobastudio-btn boobastudio-btn--icon" data-action="editImage">
                        <i class="fas fa-image"></i>
                    </button>
                    {{#if button.img}}
                    <button type="button" name="textHidden_{{button.id}}" data-tooltip="{{localize 'boobastudio.radialMenu.hideText'}}" class="boobastudio-btn boobastudio-btn--icon" data-action="hideText">
                        <i class="fas fa-eye{{ifThen button.textHidden '-slash' ''}}"></i>
                    </button>
                    {{/if}}
                    <button type="button" data-tooltip="{{localize 'boobastudio.radialMenu.addSection'}}" class="boobastudio-btn boobastudio-btn--icon boobastudio-btn--success" data-action="addSection">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" data-tooltip="{{localize 'boobastudio.radialMenu.removeSection'}}" class="boobastudio-btn boobastudio-btn--icon boobastudio-btn--danger" data-action="removeSection">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {{else}}
            <div class="boobastudio-radial-group-title">
                <i class="fas {{button.icon}}"></i>
                <span>{{localize button.content}}</span>
            </div>
            {{/if}}
        </div>
        <div class="boobastudio-radial-group-content">
            {{#each button.buttons as |subButton|}}
                {{> modules/boobastudio/templates/radial/submenu.hbs button=subButton}}
            {{/each}}
            {{#unless button.buttons.length}}
            <div class="boobastudio-radial-drop-zone">
                <i class="fas fa-arrow-down"></i>
                <span>{{localize 'boobastudio.radialMenu.dropHere'}}</span>
            </div>
            {{/unless}}
        </div>
    </div>
{{else}}
    <div class="boobastudio-radial-item">
        <a class="boobastudio-radial-item-link" data-uuid="{{button.uuid}}" data-action="runFunction">
            {{#if button.icon}}
                <div class="boobastudio-radial-item-icon boobastudio-radial-item-icon--fa">
                    <i class="fas {{button.icon}}"></i>
                </div>
                <span class="boobastudio-radial-item-name">{{localize button.content}}</span>
            {{else}}
                <img class="boobastudio-radial-item-icon" src="{{button.img}}" alt="" />
                <span class="boobastudio-radial-item-name">{{button.content}}</span>
            {{/if}}
        </a>
        {{#if button.editable}}
        <div class="boobastudio-radial-item-actions">
            <button type="button" data-uuid="{{button.uuid}}" data-tooltip="{{localize 'boobastudio.radialMenu.hideText'}}" class="boobastudio-btn boobastudio-btn--icon" data-action="hideTextElement">
                <i class="fas fa-eye{{ifThen button.textHidden '-slash' ''}}"></i>
            </button>
            <button type="button" class="boobastudio-btn boobastudio-btn--icon boobastudio-btn--danger" data-uuid="{{button.uuid}}" data-tooltip="{{localize 'boobastudio.delete'}}" data-action="removeElement">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        {{/if}}
    </div>
{{/if}}

