<div class="boobastudio-thread-settings">
    <fieldset class="boobastudio-glass">
        <legend><i class="fas fa-cog"></i> {{localize "boobastudio.AiThread.title"}}</legend>

        <div class="flexrow boobastudio app">
            <div class="imagesGroupParent">
                {{> modules/boobastudio/templates/innermodelselector.hbs models=models fieldname='system.model'
                selectedModel=document.system.model}}
            </div>
        </div>

        {{formGroup systemFields.max_messages value=document.system.max_messages name='system.max_messages' }}
        {{formGroup systemFields.enable_assistant value=document.system.enable_assistant name='system.enable_assistant' }}
        <div class="max_history_container modelIsNotAdvanced {{ifThen modelData.advanced 'hidden' ''}}">
            {{formGroup systemFields.max_history value=document.system.max_history name='system.max_history' }}
        </div>
    </fieldset>
    <fieldset class="boobastudio-glass">
        <legend><i class="fas fa-cloud-upload-alt"></i> {{localize "boobastudio.vector.uploadTitle"}}</legend>
        <div class="modelIsAdvanced {{ifThen modelData.advanced '' 'hidden'}}">
            {{#if (gt userInfo.level 0)}}
            <div class="boobastudio-hint boobastudio-mb-2">{{{localize 'boobastudio.vector.uploadFile'}}}</div>
            {{else}}
            <div class="boobastudio-hint boobastudio-hint--warning boobastudio-mb-2">{{localize 'boobastudio.vector.notAvailable'}}</div>
            {{/if}}

            {{#if userInfo.alive}}
            <div class="boobastudio-thread-settings__cost">
                <span><b>{{localize 'boobastudio.vector.estimatedCost'}}</b>:</span>
                <span class="estimatedcost"><i class="fas fa-spinner fa-spin"></i></span>
                <i class="fas fa-times"></i>
                <span class="manapot"></span>
            </div>

            {{> modules/boobastudio/templates/vector/showstorage.hbs}}
            {{else}}
            {{{patreon}}}
            {{/if}}
        </div>
        <div class="modelIsNotAdvanced {{ifThen modelData.advanced 'hidden' ''}}">
            <div class="boobastudio-hint">{{localize 'boobastudio.vector.notForThisModel'}}</div>
        </div>
    </fieldset>
</div>