{{!-- Embedded gallery for sidebar --}}
<div class="boobastudio-gallery-embedded">
  {{#if isLoading}}
    <div class="boobastudio-gallery-loading">
      <i class="fas fa-spinner fa-spin"></i>
      <span>{{localize 'boobastudio.AiBrowser.loading'}}</span>
    </div>
  {{/if}}

  {{#if items.length}}
    <div class="boobastudio-gallery-grid">
      {{#each items}}
        <div class="boobastudio-gallery-item boobastudio-gallery-item--loading" data-id="{{this.id}}">
          <div class="boobastudio-gallery-item-loader">
            <i class="fas fa-spinner fa-spin"></i>
          </div>
          <img
            data-src="{{this.attributes.thumbnail}}"
            data-origin="{{this.attributes.result}}"
            src="modules/boobastudio/templates/assets/placeholder_item.webp"
            alt="{{this.attributes.prompt}}"
            loading="lazy"
          />
          {{#if this.badges.length}}
            <div class="boobastudio-gallery-badges">
              {{#each this.badges}}
                <span class="boobastudio-gallery-badge boobastudio-gallery-badge--{{this.class}}" data-tooltip="{{localize this.label}}">
                  <i class="{{this.icon}}"></i>
                </span>
              {{/each}}
            </div>
          {{/if}}
          <div class="boobastudio-gallery-item-overlay">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{#unless isLoading}}
      <div class="boobastudio-gallery-empty">
        <i class="fas fa-images"></i>
        <span>{{localize 'boobastudio.AiBrowser.noImages'}}</span>
      </div>
    {{/unless}}
  {{/if}}

  {{!-- Sentinel for infinite scroll --}}
  {{#if hasMore}}
    <div class="boobastudio-gallery-sentinel">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  {{/if}}
</div>
