<section class="tab standard-form max100height overflow-hidden {{tabs.image.cssClass}}" data-tab="image"
    data-group="{{tabs.image.group}}">

    <div class="boobastudio-intro-text boobastudio-mt-1">
        <i class="fas fa-image boobastudio-intro-icon"></i>
        <span>{{localize 'boobastudio.AiImageGen.description'}}</span>
    </div>

    <div class="flexrow stretch max100height overflow-hidden">
        {{#if (or userInfo.alive clientOnlyModeEnabled)}}
        {{#if (and canDoFiles canEdit)}}
        {{> modules/boobastudio/templates/bothgen/sidebar.hbs}}
        <div class="flexcol stretch relativedisplay max100height boobastudio-image-workspace boobastudio-mt-2">
            <div class="">
                {{> modules/boobastudio/templates/bothgen/toolbar.hbs}}
            </div>
            {{> modules/boobastudio/templates/bothgen/canvas.hbs}}
        </div>
        {{else}}
        <p class="notes boobastudio-warning-box"><i class="fas fa-exclamation-triangle"></i> {{localize
            'boobastudio.NoUploadPermission'}}</p>
        {{/if}}
        {{else}}
        {{{patreon}}}
        {{/if}}
    </div>

</section>