<div class="scrollable">
    <p>{{localize 'boobastudio.removebgmodelHint'}}</p>
    <div class="imagesGroupParent">
        <div class="radioTextGroup flexrow">
        {{#each models as |item key|}}
            <input type="radio" id="removebg_{{key}}_{{../randomId}}" name="choice" value="{{key}}" {{checked (eq key ../selected)}}>
            <label for="removebg_{{key}}_{{../randomId}}" class="stretch">
                <h3>{{localize (cibolaConcat 'boobastudio.bgremoversname.' item.name)}}</h3>
                {{{item.manaHtml}}}
                <p>{{localize (cibolaConcat 'boobastudio.bgremovers.' key)}}</p>
            </label>
        {{/each}}
        </div>
    </div>
    <div class="t-spacer"></div>
</div>