{{!-- Add to Pack dropdown - shows user's packs with quick-add --}}
<div class="pack-dropdown-overlay" data-action="closePackDropdown">
  <div class="pack-dropdown" data-llmjob-id="{{llmjobId}}">
    <div class="pack-dropdown-header">
      <span>{{localize 'boobastudio.packs.addToPackTitle'}}</span>
      <button class="pack-dropdown-close" data-action="closePackDropdown" type="button">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="pack-dropdown-list">
      {{#if myPacks.length}}
        {{#each myPacks}}
        <button class="pack-dropdown-item" data-action="addImageToPack"
                data-pack-id="{{this.attributes.id}}" type="button"
                data-tooltip="{{this.attributes.tagline}}">
          <span class="pack-dropdown-item-name">
            {{#if this.attributes.banner_thumbnail}}
            <img class="pack-dropdown-thumb" src="{{this.attributes.banner_thumbnail}}" />
            {{/if}}
            {{this.attributes.name}}
          </span>
          <span class="pack-dropdown-item-count">
            <i class="fas fa-image"></i> {{this.attributes.image_count}}
          </span>
        </button>
        {{/each}}
      {{else}}
        <div class="pack-dropdown-empty">
          <i class="fas fa-box-open"></i>
          <span>{{localize 'boobastudio.packs.noPacks'}}</span>
        </div>
      {{/if}}
    </div>

    <div class="pack-dropdown-footer">
      <button class="boobastudio-btn boobastudio-btn--secondary boobastudio-btn--sm"
              data-action="createNewPack" data-tooltip="boobastudio.packs.createNewPackHint" type="button">
        <i class="fas fa-plus"></i>
        {{localize 'boobastudio.packs.createNewPack'}}
      </button>
    </div>
  </div>
</div>
