{{!-- Compact pack card for embedded gallery / token horde --}}
<div class="pack-card-compact" data-pack-id="{{id}}" data-pack-slug="{{attributes.slug}}" data-action="openPack">
  {{#if cardBannerSrc}}
  <img class="pack-card-compact-img"
       src="modules/boobastudio/templates/assets/cibolacoin.webp"
    data-src="{{cardBannerSrc}}"
       alt="{{attributes.name}}" loading="lazy" />
  {{else}}
  <div class="pack-card-compact-placeholder">
    <i class="fas fa-images"></i>
  </div>
  {{/if}}
  <div class="pack-card-compact-info">
    <span class="pack-card-compact-name" data-tooltip="{{attributes.tagline}}">{{attributes.name}}</span>
    <span class="pack-card-compact-meta">
      <i class="fas fa-image"></i> {{attributes.image_count}}
    </span>
  </div>
</div>
