<div class="boobastudio-translation-row" data-translationid="{{file.module}}_{{file.lang}}">
  <div class="boobastudio-translation-col boobastudio-translation-col--module">
    {{#if file.status}}
      <span class="boobastudio-text-muted">{{file.module}}</span>
    {{else}}
      <a class="boobastudio-link editEntry" data-id="{{file.module}}" data-lang="{{file.lang}}">
        <i class="fas fa-edit"></i>
        {{file.module}}
      </a>
    {{/if}}
  </div>

  <div class="boobastudio-translation-col boobastudio-translation-col--lang">
    <span class="boobastudio-badge boobastudio-badge--muted">{{file.lang}}</span>
  </div>

  <div class="boobastudio-translation-col boobastudio-translation-col--status">
    {{#if file.status}}
      <div class="boobastudio-status-indicator boobastudio-status-indicator--processing" data-tooltip="{{timeSince file.time}}">
        {{#if file.progress}}
          <div class="boobastudio-progress-mini">
            <div class="boobastudio-progress-mini-bar" style="width: {{file.progress}}%"></div>
          </div>
          <span>{{file.progress}}%</span>
        {{else}}
          <i class="fas fa-clock fa-spin"></i>
          <span>{{file.status}}</span>
        {{/if}}
      </div>
    {{else}}
      <label class="boobastudio-toggle">
        <input type="checkbox" class="enableTranslation" data-id="{{file.module}}" data-lang="{{file.lang}}" name="{{file.module}}_{{file.lang}}" {{checked file.active}} />
        <span class="boobastudio-toggle-slider"></span>
      </label>
    {{/if}}
  </div>

  <div class="boobastudio-translation-col boobastudio-translation-col--actions">
    <a class="boobastudio-btn boobastudio-btn--icon boobastudio-btn--danger removeEntry" data-tooltip="{{localize 'boobastudio.delete'}}" data-id="{{file.module}}" data-lang="{{file.lang}}">
      <i class="fas fa-trash"></i>
    </a>
  </div>
</div>