{{#each files as |file|}}
<div class="cibola8-vector-file">
  <div class="cibola8-vector-file-icon">
    <i class="fas fa-file-alt"></i>
  </div>
  <div class="cibola8-vector-file-info">
    <span class="cibola8-vector-file-name">{{file.attributes.uploaded_file_name}}</span>
    <span class="cibola8-badge cibola8-badge--{{#if (eq file.attributes.status 'completed')}}success{{else if (eq file.attributes.status 'failed')}}danger{{else}}warning{{/if}}">
      {{file.attributes.status}}
    </span>
  </div>
  <div class="cibola8-vector-file-actions">
    <button type="button" class="cibola8-btn cibola8-btn--icon cibola8-btn--danger" data-id="{{file.id}}" data-action="removeVectorFile" data-tooltip="{{localize 'cibola8.delete'}}">
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>
{{/each}}
{{#unless files.length}}
<div class="cibola8-empty-state cibola8-empty-state--small">
  <i class="fas fa-folder-open"></i>
  <p>{{localize 'cibola8.vector.noVectors'}}</p>
</div>
{{/unless}}