<form class="flexcol stretch scrollable">
    <div class="boobastudio-intro-text boobastudio-mb-2">
        <i class="fas fa-book boobastudio-intro-icon"></i>
        <span>{{localize 'boobastudio.AiTranslator.dictionaryDescr'}}</span>
    </div>

    <div class="flexrow imageControlContainer boobastudio-toolbar boobastudio-mb-3">
        <button type="button" class="boobastudio-tool-btn" data-tooltip="boobastudio.reset" data-action="reload"><i class="fas fa-rotate-left"></i></button>
        <button type="button" class="boobastudio-tool-btn boobastudio-tool-btn--success" data-tooltip="boobastudio.save" data-action="save"><i class="fas fa-save"></i></button>
    </div>

    {{#each content as |item key|}}
    <fieldset class="boobastudio-glass boobastudio-dictionary-section">
        <legend><i class="fas fa-folder"></i> {{localize (cibolaConcat 'TYPES.Item.' key) key}} <a data-key="{{key}}" data-action="append" class="boobastudio-add-btn"><i class="fas fa-plus"></i></a></legend>
        {{#each item as |name id|}}
        <div class="flexrow imageControlContainer boobastudio-dict-entry">
            <div class="form-group">
                <label class="boobastudio-dict-key">{{id}}</label>
                <div class="form-fields">
                    <input type="text" name="{{key}}.{{id}}" value="{{name}}" class="boobastudio-dict-input" />
                </div>
            </div>
            <button type="button" class="boobastudio-tool-btn" data-action="show" data-key="{{key}}.{{id}}"><i class="fas fa-eye"></i></button>
            <button type="button" class="boobastudio-tool-btn boobastudio-tool-btn--danger" data-tooltip="boobastudio.delete" data-action="remove" data-key="{{key}}.{{id}}"><i class="fas fa-trash"></i></button>
        </div>
        {{/each}}
    </fieldset>
    {{/each}}
</form>