<form class="flexcol stretch scrollable">
    <div class="cibola8-intro-text cibola8-mb-2">
        <i class="fas fa-book cibola8-intro-icon"></i>
        <span>{{localize 'cibola8.AiTranslator.dictionaryDescr'}}</span>
    </div>
    
    <div class="flexrow imageControlContainer cibola8-toolbar cibola8-mb-3">
        <button type="button" class="cibola8-tool-btn" data-tooltip="cibola8.reset" data-action="reload"><i class="fas fa-rotate-left"></i></button>
        <button type="button" class="cibola8-tool-btn cibola8-tool-btn--success" data-tooltip="cibola8.save" data-action="save"><i class="fas fa-save"></i></button>
    </div>
    
    {{#each content as |item key|}}
    <fieldset class="cibola8-glass cibola8-dictionary-section">
        <legend><i class="fas fa-folder"></i> {{localize (cibolaConcat 'TYPES.Item.' key) key}} <a data-key="{{key}}" data-action="append" class="cibola8-add-btn"><i class="fas fa-plus"></i></a></legend>
        {{#each item as |name id|}}
        <div class="flexrow imageControlContainer cibola8-dict-entry">
            <div class="form-group">
                <label class="cibola8-dict-key">{{id}}</label>
                <div class="form-fields">
                    <input type="text" name="{{key}}.{{id}}" value="{{name}}" class="cibola8-dict-input" />                    
                </div>
            </div>
            <button type="button" class="cibola8-tool-btn" data-action="show" data-key="{{key}}.{{id}}"><i class="fas fa-eye"></i></button>
            <button type="button" class="cibola8-tool-btn cibola8-tool-btn--danger" data-tooltip="cibola8.delete" data-action="remove" data-key="{{key}}.{{id}}"><i class="fas fa-trash"></i></button>
        </div>
        {{/each}}
    </fieldset>
    {{/each}}
</form>