<div class="flexcol stretch scrollable">
    <button type="button" data-action="save"><i class="fas fa-save"></i>{{localize 'boobastudio.save'}}</button>
    {{#if isV13}}
    <code-mirror language="json" class="content stretch" indent="2">{{~content~}}</code-mirror>
    {{else}}
    <textarea spellcheck="false" lang="{{lang}}" class="content stretch">{{content}}</textarea>
    {{/if}}
</div>