<div class="boobastudio boobastudio-dark-theme standard-form flexcol">
  {{#if hint}}
  <div class="boobastudio-intro-text boobastudio-mb-2">
    <i class="fas {{#if icon}}{{icon}}{{else}}fa-wand-magic-sparkles{{/if}} boobastudio-intro-icon"></i>
    <span>{{{hint}}}</span>
  </div>
  {{/if}}
  <textarea class="textarea boobastudio-prompt-textarea" name="command" placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{localize 'boobastudio.promptImprovise'}}{{/if}}"></textarea>
</div>