<div class="radioImagesGroupBig flexrow modellist">
    {{#each models as |item key|}}
    <input type="radio" id="model_{{key}}_{{../randomId}}" name="{{../fieldname}}" value="{{key}}" {{#if (eq key ../selectedModel)}}checked{{/if}} {{#if item.unavailable}}disabled{{/if}}>
    <label for="model_{{key}}_{{../randomId}}" class="{{#if item.unavailable}}model-unavailable{{/if}}" data-id="{{key}}" data-speed="{{item.speed}}" data-mana="{{item.price}}"
        data-elo="{{item.elo}}">
        <!--img src="modules/boobastudio/templates/assets/{{key}}.webp"-->
        <!--img src="modules/boobastudio/templates/assets/cibolacoin.webp"-->
        <div class="flexrow stretch">
            <div class="flexcol stretch">
                <div>
                    {{item.name}}
                </div>
                <div>
                    {{#each item.tags as |tag|}}
                    <span class="boobastudio-badge badge-{{tag}}">{{localize (cibolaConcat 'boobastudio.badges.'
                        tag)}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="flexcol centerText stretch manaheader">
                {{#if item.elo}}
                <div data-tooltip="boobastudio.tooltip.perceivedElo" class="progressbar"
                    style="--width: {{item.elowidth}}" data-label="{{item.elo}}"></div>
                {{else}}
                <div>
                    <span class="boobastudio-badge boobastudio-badge--muted">{{localize 'boobastudio.badges.noRating'}}</span>
                </div>
                {{/if}}
                {{{item.manaHtml}}}
                {{{item.timeHtml}}}
            </div>

        </div>
    </label>
    {{/each}}
</div>