<fieldset class="stretch t-spacer">
    <legend>{{localize 'boobastudio.model'}}</legend>
    <p class="hint">{{localize 'boobastudio.modelHint'}}</p>
    <div class="form-group">
        <label></label>
        <div class="form-fields">
            <div class="flexrow" style="text-align: end">
                <i class="fas fa-sort"></i>
            </div>
            <select class="filterModels">
                <option value=""></option>
                <option value="mana">{{localize 'boobastudio.mana'}}</option>
                <option value="speed">{{localize 'boobastudio.fields.speed'}}</option>
                <option value="elo">{{localize 'boobastudio.tooltip.perceivedElo'}}</option>
            </select>
        </div>

    </div>
    <div class="flexrow">
        <div class="imagesGroupParent">
            {{> modules/boobastudio/templates/innermodelselector.hbs models=image.models selectedModel=image.model}}
        </div>
    </div>
    <p class="hint boobastudio-attribution">{{localize 'boobastudio.attribution.benchmarkData'}} <a href="https://artificialanalysis.ai/" target="_blank" rel="noopener">Artificial Analysis</a></p>
</fieldset>