<div class="scrollable stretch">
    {{#if customDescription}}
        <div class="boobastudio-hint boobastudio-hint--compact boobastudio-mb-1">
            <i class="fas fa-info-circle"></i>
            <span>{{localize customDescription}}</span>
        </div>
    {{else}}
        <div class="boobastudio-hint boobastudio-hint--compact boobastudio-mb-1">
            <i class="fas fa-info-circle"></i>
            <span>{{localize 'boobastudio.alternatemode.description'}}</span>
        </div>
    {{/if}}
    <div class="imagesGroupParent">
        <div class="radioTextGroup flexrow">
        {{#each models as |item key|}}
            <input type="radio" id="sketch_{{key}}_{{../randomId}}" name="choice" value="{{key}}" {{checked (eq key ../selected)}}>
            <label for="sketch_{{key}}_{{../randomId}}" class="stretch">
                <h3>{{localize (cibolaConcat 'boobastudio.alternatemodenames.' item.name)}}</h3>
                {{{item.manaHtml}}}
                {{#unless ../customDescription}}
                <p>{{localize (cibolaConcat 'boobastudio.alternatemode.' key)}}</p>
                {{/unless}}
            </label>
        {{/each}}
        </div>
    </div>

    <div class="modelFields">
        {{{modelFields}}}
    </div>
</div>