<div class="gallery-item aicard relativedisplay" data-id="{{id}}">
    {{!-- Badges --}}
    <div class="gallery-badges cibolabadges">
        {{#each badges as |badge|}}
            <span class="badge-item {{badge.class}}" data-tooltip="{{badge.label}}">
                <i class="fas {{badge.icon}}"></i>
            </span>
        {{/each}}
    </div>

    {{!-- Image --}}
    <img class="gallery-img" src="modules/boobastudio/templates/assets/cibolacoin.webp" data-src="{{attributes.thumbnail}}" data-origin="{{attributes.result}}">

    {{!-- Loading Spinner --}}
    <div class="loader">
        <i class="fas fa-spinner fa-2x fa-spin"></i>
    </div>

    {{!-- Hover Actions Overlay --}}
    <div class="gallery-hover-actions">
        <div class="actions-top">
            <button class="gallery-action-btn btn-delete" data-action="quickDelete" data-tooltip="boobastudio.tooltip.deletePrediction" type="button">
                <i class="fas fa-trash"></i>
            </button>
            <button class="gallery-action-btn" data-action="quickShare" data-tooltip="boobastudio.tooltip.togglePublic" type="button">
                <i class="fas fa-share"></i>
            </button>
        </div>
        <div class="actions-bottom">
            <button class="gallery-action-btn" data-action="quickAddToPack" data-tooltip="boobastudio.packs.addToPackHint" type="button">
                <i class="fas fa-box-open"></i>
            </button>
            <button class="gallery-action-btn" data-action="quickCopy" data-tooltip="boobastudio.tooltip.copyUrl" type="button">
                <i class="fas fa-copy"></i>
            </button>
            <button class="gallery-action-btn btn-select" data-action="quickSelect" data-tooltip="boobastudio.tooltip.yourchoice" type="button">
                <i class="fas fa-expand"></i>
            </button>
        </div>
    </div>
</div>